<a href="https://colab.research.google.com/github/ritika1507/Notebooks-/blob/main/Time_series_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
!wget https://github.com/a-forty-two/diamler_17_jan/blob/main/Sample-Superstore.xls?raw=true

--2022-03-30 05:04:50--  https://github.com/a-forty-two/diamler_17_jan/blob/main/Sample-Superstore.xls?raw=true
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/a-forty-two/diamler_17_jan/raw/main/Sample-Superstore.xls [following]
--2022-03-30 05:04:51--  https://github.com/a-forty-two/diamler_17_jan/raw/main/Sample-Superstore.xls
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/a-forty-two/diamler_17_jan/main/Sample-Superstore.xls [following]
--2022-03-30 05:04:51--  https://raw.githubusercontent.com/a-forty-two/diamler_17_jan/main/Sample-Superstore.xls
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3364352 (3.2M) [application/octet-stream]
Saving to: ‘Sample-Superstore.xls?raw=true.4’

Sample-Superstore.x 100%[===================>]   3.21M  --.-KB/s    in 0.03s

2022-03-30 05:04:51 (114 MB/s) - ‘Sample-Superstore.xls?raw=true.4’ saved [3364352/3364352]

In [96]:
!cp Sample-Superstore.xls?raw=true superstore.xls

In [97]:
!ls

 sample_data			    'Sample-Superstore.xls?raw=true.3'
'Sample-Superstore.xls?raw=true'    'Sample-Superstore.xls?raw=true.4'
'Sample-Superstore.xls?raw=true.1'   superstore.xls
'Sample-Superstore.xls?raw=true.2'

In [98]:
!pip install pandas==1.2.0
!pip install --upgrade xlrd

Requirement already satisfied: pandas==1.2.0 in /usr/local/lib/python3.7/dist-packages (1.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.2.0) (2018.9)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from pandas==1.2.0) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.2.0) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.2.0) (1.15.0)
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [99]:
import pandas as pd
data = pd.read_excel('superstore.xls')

In [100]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [101]:
data.info()
# 9994  total
# no null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [102]:
# unique values exist per column! (CARDINALITY)
for name in data.columns:
  print(name , end=" ")
  print(data[name].value_counts())
# too bulky to analyze, we just need to know per column 
# a COUNT of unique values!

Row ID 2049    1
8865    1
6806    1
4759    1
8857    1
       ..
5432    1
7481    1
1338    1
3387    1
2047    1
Name: Row ID, Length: 9994, dtype: int64
Order ID CA-2017-100111    14
CA-2017-157987    12
US-2016-108504    11
CA-2016-165330    11
CA-2015-131338    10
                  ..
CA-2017-123659     1
CA-2017-158953     1
US-2017-127719     1
CA-2017-155075     1
US-2017-149006     1
Name: Order ID, Length: 5009, dtype: int64
Order Date 2016-09-05    38
2017-09-02    36
2016-11-10    35
2017-12-02    34
2017-12-01    34
              ..
2016-02-25     1
2014-01-15     1
2014-09-24     1
2017-07-12     1
2015-12-09     1
Name: Order Date, Length: 1237, dtype: int64
Ship Date 2015-12-16    35
2017-09-26    34
2017-11-21    32
2017-12-06    32
2017-09-06    30
              ..
2014-12-24     1
2017-04-06     1
2016-08-07     1
2016-08-25     1
2017-07-22     1
Name: Ship Date, Length: 1334, dtype: int64
Ship Mode Standard Class    5968
Second Class      1945
First Class       1538
Same Day           543
Name: Ship Mode, dtype: int64
Customer ID WB-21850    37
JL-15835    34
MA-17560    34
PP-18955    34
JD-15895    32
            ..
AO-10810     1
LD-16855     1
RE-19405     1
JR-15700     1
CJ-11875     1
Name: Customer ID, Length: 793, dtype: int64
Customer Name William Brown        37
Paul Prost           34
John Lee             34
Matt Abelman         34
Edward Hooks         32
                     ..
Carl Jackson          1
Ricardo Emerson       1
Anthony O'Donnell     1
Lela Donovan          1
Jocasta Rupert        1
Name: Customer Name, Length: 793, dtype: int64
Segment Consumer       5191
Corporate      3020
Home Office    1783
Name: Segment, dtype: int64
Country United States    9994
Name: Country, dtype: int64
City New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
                ...
Port Orange        1
Champaign          1
Lake Elsinore      1
Conroe             1
Chapel Hill        1
Name: City, Length: 531, dtype: int64
State California              2001
New York                1128
Texas                    985
Pennsylvania             587
Washington               506
Illinois                 492
Ohio                     469
Florida                  383
Michigan                 255
North Carolina           249
Virginia                 224
Arizona                  224
Georgia                  184
Tennessee                183
Colorado                 182
Indiana                  149
Kentucky                 139
Massachusetts            135
New Jersey               130
Oregon                   124
Wisconsin                110
Maryland                 105
Delaware                  96
Minnesota                 89
Connecticut               82
Missouri                  66
Oklahoma                  66
Alabama                   61
Arkansas                  60
Rhode Island              56
Mississippi               53
Utah                      53
South Carolina            42
Louisiana                 42
Nevada                    39
Nebraska                  38
New Mexico                37
Iowa                      30
New Hampshire             27
Kansas                    24
Idaho                     21
Montana                   15
South Dakota              12
Vermont                   11
District of Columbia      10
Maine                      8
North Dakota               7
West Virginia              4
Wyoming                    1
Name: State, dtype: int64
Postal Code 10035    263
10024    230
10009    229
94122    203
10011    193
        ...
52240      1
94509      1
53186      1
32503      1
60025      1
Name: Postal Code, Length: 631, dtype: int64
Region West       3203
East       2848
Central    2323
South      1620
Name: Region, dtype: int64
Product ID OFF-PA-10001970    19
TEC-AC-10003832    18
FUR-FU-10004270    16
TEC-AC-10003628    15
FUR-CH-10002647    15
                   ..
TEC-MA-10003329     1
FUR-TA-10001691     1
FUR-BO-10002206     1
TEC-PH-10001949     1
TEC-MA-10001031     1
Name: Product ID, Length: 1862, dtype: int64
Category Office Supplies    6026
Furniture          2121
Technology         1847
Name: Category, dtype: int64
Sub-Category Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: Sub-Category, dtype: int64
Product Name Staple envelope                                                             48
Staples                                                                     46
Easy-staple paper                                                           46
Avery Non-Stick Binders                                                     20
Staples in misc. colors                                                     19
                                                                            ..
Canon imageCLASS MF7460 Monochrome Digital Laser Multifunction Copier        1
Bush Westfield Collection Bookcases, Dark Cherry Finish, Fully Assembled     1
Pyle PRT45 Retro Home Telephone                                              1
Lexmark X 9575 Professional All-in-One Color Printer                         1
Jiffy Padded Mailers with Self-Seal Closure                                  1
Name: Product Name, Length: 1850, dtype: int64
Sales 12.960     56
15.552     39
19.440     39
10.368     36
32.400     28
           ..
775.728     1
65.520      1
83.136      1
114.460     1
334.768     1
Name: Sales, Length: 6144, dtype: int64
Quantity 3     2409
2     2402
5     1230
4     1191
1      899
7      606
6      572
9      258
8      257
10      57
11      34
14      29
13      27
12      23
Name: Quantity, dtype: int64
Discount 0.00    4798
0.20    3657
0.70     418
0.80     300
0.30     227
0.40     206
0.60     138
0.10      94
0.50      66
0.15      52
0.32      27
0.45      11
Name: Discount, dtype: int64
Profit  0.0000     65
 6.2208     43
 9.3312     38
 5.4432     32
 3.6288     32
            ..
 6.7032      1
 46.8996     1
 5.5341      1
-4.0600      1
-10.9611     1
Name: Profit, Length: 7545, dtype: int64

In [103]:
# CARDINALITY
for name in data.columns:
  print(name , end=" ")
  # Aggregate to view smaller but more readable data!
  print(data[name].value_counts().count())

Row ID 9994
Order ID 5009
Order Date 1237
Ship Date 1334
Ship Mode 4
Customer ID 793
Customer Name 793
Segment 3
Country 1
City 531
State 49
Postal Code 631
Region 4
Product ID 1862
Category 3
Sub-Category 17
Product Name 1850
Sales 6144
Quantity 14
Discount 12
Profit 7545

In [104]:
# C1  10 20 5 6 6 99 42-> 7 (6)
# c2.  2. 5 2 5 1 5  5 -> 7 ( 3 )

In [105]:
# DISCRETE-> 1,2,3,4 -> only 2
# Continuous-> all the number between 1 and 4-> infinite

In [106]:
data.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [107]:
data['Order Date']
# multiple date entries in the record!

0      2016-11-08
1      2016-11-08
2      2016-06-12
3      2015-10-11
4      2015-10-11
          ...
9989   2014-01-21
9990   2017-02-26
9991   2017-02-26
9992   2017-02-26
9993   2017-05-04
Name: Order Date, Length: 9994, dtype: datetime64[ns]

In [108]:
data['Order Date'].min(), data['Order Date'].max()
# OBSERVATION-> Jan1,2 of 2014 is missing!
# 31st dec of 2017-> missing NOT null!

(Timestamp('2014-01-03 00:00:00'), Timestamp('2017-12-30 00:00:00'))

In [109]:
df = data.groupby('Order Date')
df.head()

# ONLY 1237 entries for all the days of 2014 to 2017!

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9946,9947,CA-2014-111157,2014-03-02,2014-03-06,Standard Class,NH-18610,Nicole Hansen,Corporate,United States,Philadelphia,...,19120,East,TEC-AC-10004353,Technology,Accessories,Hypercom P1300 Pinpad,151.2000,3,0.20,32.1300
9970,9971,CA-2015-103772,2015-06-28,2015-07-02,Standard Class,MP-17470,Mark Packer,Home Office,United States,Smyrna,...,30080,South,OFF-BI-10002867,Office Supplies,Binders,GBC Recycled Regency Composition Covers,119.5600,2,0.00,54.9976
9984,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.5000,10,0.00,15.1200
9985,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.6000,4,0.00,16.1240
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028

In [110]:
# 4 years X 365.25 days = 1461 (expected)
# reality-> 1237 entries!
# Missing values= 1461 - 1237 = 224

In [111]:

df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9946,9947,CA-2014-111157,2014-03-02,2014-03-06,Standard Class,NH-18610,Nicole Hansen,Corporate,United States,Philadelphia,...,19120,East,TEC-AC-10004353,Technology,Accessories,Hypercom P1300 Pinpad,151.2000,3,0.20,32.1300
9970,9971,CA-2015-103772,2015-06-28,2015-07-02,Standard Class,MP-17470,Mark Packer,Home Office,United States,Smyrna,...,30080,South,OFF-BI-10002867,Office Supplies,Binders,GBC Recycled Regency Composition Covers,119.5600,2,0.00,54.9976
9984,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.5000,10,0.00,15.1200
9985,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.6000,4,0.00,16.1240
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028

In [113]:

df_new = data[['Order Date' , 'Sales']]
df_new.head()

  Order Date     Sales
0 2016-11-08  261.9600
1 2016-11-08  731.9400
2 2016-06-12   14.6200
3 2015-10-11  957.5775
4 2015-10-11   22.3680

In [114]:
df_new = df_new.sort_values("Order Date")
df_new = df_new.groupby('Order Date')['Sales'].sum().reset_index()
df_new.head()

  Order Date     Sales
0 2014-01-03    16.448
1 2014-01-04   288.060
2 2014-01-05    19.536
3 2014-01-06  4407.100
4 2014-01-07    87.158

In [115]:
df_new = df_new.set_index('Order Date')
df_new.head()

               Sales
Order Date
2014-01-03    16.448
2014-01-04   288.060
2014-01-05    19.536
2014-01-06  4407.100
2014-01-07    87.158

In [120]:
resample = df_new['Sales'].resample('MS').mean()

In [121]:
resample

Order Date
2014-01-01     647.131591
2014-02-01     225.994600
2014-03-01    2320.458708
2014-04-01    1178.972708
2014-05-01     844.581679
2014-06-01    1383.805104
2014-07-01    1414.433042
2014-08-01    1162.894521
2014-09-01    2920.619671
2014-10-01    1084.599759
2014-11-01    2711.335059
2014-12-01    2483.772161
2015-01-01    1009.670867
2015-02-01     703.024176
2015-03-01    1489.471231
2015-04-01    1367.808340
2015-05-01    1115.988389
2015-06-01    1127.149636
2015-07-01    1198.555208
2015-08-01    1677.196918
2015-09-01    2583.836720
2015-10-01    1207.881673
2015-11-01    2713.305839
2015-12-01    2497.317373
2016-01-01     882.975762
2016-02-01     957.450625
2016-03-01    1846.995536
2016-04-01    1490.386115
2016-05-01    1965.094069
2016-06-01    1494.242000
2016-07-01    1570.478520
2016-08-01    1111.263368
2016-09-01    2621.786604
2016-10-01    2210.657222
2016-11-01    2738.343648
2016-12-01    3464.251536
2017-01-01    1911.798870
2017-02-01    1015.056670
2017-03-01    2102.584029
2017-04-01    1352.649485
2017-05-01    1639.300378
2017-06-01    2037.758681
2017-07-01    1560.841931
2017-08-01    2337.810667
2017-09-01    3138.094714
2017-10-01    2777.747257
2017-11-01    3948.260833
2017-12-01    2890.666166
Freq: MS, Name: Sales, dtype: float64